<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook</title>
    <link rel="stylesheet" href="node_modules/jquery-confirm/css/jquery-confirm.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div id="contacts-list" class="main-container container">
    <div class="table-container">
        <table class="main-table table-striped table-dark table">
            <thead class="thead-dark">
            <tr>
                <th>
                    <label>
                        <input v-model="massDelete"
                               true-value= true
                               false-value= false
                               @click="massDeletePush"
                               type="checkbox" id="mass-delete">
                    </label>
                </th>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>
                    <button id="delete-all" class="btn btn btn-danger" type="button">Удалить все</button>
                </th>
            </tr>
            </thead>
            <tbody id="telephone-holder-info">
            <tr is="contact-item" v-for="(contact, index) in contacts" :key="contact.id" :contact="contact" :index="index"
                @delete-contact="deleteContact(index)"></tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid mh-100 position-relative bg-dark text-white">
        <div class="input-box">
            <label> Фамилия: <input v-model="newLastName" :class="{'is-invalid' : isEmptyLastName}" type="text"
                                    class="input form-control" id="last-name" placeholder="Фамилия"></label>
            <label> Имя: <input :class="{'is-invalid' : isEmptyFirstName}" v-model="newFirstName"
                type="text" class="input form-control" id="first-name" placeholder="Имя"></label>
            <label> Телефон: <input :class="{'is-invalid' : isEmptyPhone, 'is-invalid' : isInvalidPhone}" v-model="newPhone"
                type="tel" class="input form-control" id="telephone-number"
                                    placeholder="Номер телефона"></label>
            <button @click="newContact"  id="add-button" class="btn btn-light mb-1" type="button">Добавить</button>
            <div style="display: none" class="invalid-feedback" id="error-massage">Ошибка, надо больше букв!</div>
            <div v-if="isInvalidPhone === true" class="invalid-feedback" id="invalidPhone">Такой номер уже есть!</div>
        </div>
        <div class="filter-box container-fluid p-0 mt-5">
            <label> Фильтр: <input type="text" class="input form-control" id="filter" placeholder="Фильтр"></label>
            <button id="confirm-filter-button" class="btn btn-light mb-1" type="button">Фильтровать</button>
            <button id="cancel-filter-button" class="btn btn-danger mb-1" type="button">Отменить</button>
        </div>

    </div>
</div>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/jquery-confirm/js/jquery-confirm.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/lodash/lodash.js"></script>
<script src="Table.js"></script>
</body>
</html>