<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook</title>
    <link rel="stylesheet" href="node_modules/jquery-confirm/css/jquery-confirm.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="contacts-list" class="main-container container">
    <div class="table-container">
        <table class="main-table table-striped table-dark table">
            <thead class="thead-dark">
            <tr>
                <th>
                    <label>
                        <input v-model.lazy="massDelete"
                               @click="massDeletePush(massDelete)"
                               type="checkbox" id="mass-delete">
                    </label>
                </th>
                <th>№</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>
                    <button @click="deleteAllSelected()" id="delete-all" class="btn btn btn-danger delete-all-button"
                            type="button">
                        Удалить выбранные
                    </button>
                </th>
            </tr>
            </thead>
            <tbody id="telephone-holder-info">
            <tr is="contact-item" v-for="(contact, index) in contacts"
                v-if="!contact.isHidden"
                :key="contact.id"
                :contact="contact"
                :index="index"
                @delete-contact="deleteContact(index)"
                @check-mass-delete="checkMassDelete()"></tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid bg-dark text-white">
        <div class="input-box">
            <label class="input-field"> Фамилия: <input
                    v-model="newLastName"
                    :class="{'is-invalid' : isEmptyLastName}"
                    type="text"
                    class="input form-control input-validation is-valid"
                    id="last-name" placeholder="Фамилия"></label>
            <label class="input-field"> Имя: <input
                    :class="{'is-invalid' : isEmptyFirstName}" v-model="newFirstName"
                    type="text" class="input form-control input-validation is-valid"
                    id="first-name"
                    placeholder="Имя"></label>
            <label class="input-field"> Телефон: <input
                    :class="{'is-invalid' : isEmptyPhone}" v-model="newPhone"
                    type="tel" class="input form-control input-validation is-valid" id="telephone-number"
                    placeholder="Номер телефона"></label>
            <button @click="newContact" id="add-button" class="btn btn-light mb-1" type="button">Добавить</button>
            <div v-if="displayError" class="invalid-feedback mt-1 d-block" id="error-massage"
                 :class="{'display-none' : isEmptyLastName}">{{ errorMessage }}
            </div>
        </div>
        <div class="filter-box container-fluid p-0 mt-5">
            <label> Фильтр: <input v-model="filterInput" type="text" class="input form-control" id="filter"
                                   placeholder="Фильтр"></label>
            <button @click="confirmFilter()" id="confirm-filter-button" class="btn btn-primary mb-1" type="button">
                Фильтровать
            </button>
            <button @click="cancelFilter()" id="cancel-filter-button" class="btn btn-danger mb-1" type="button">
                Отменить
            </button>
        </div>
    </div>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/jquery-confirm/js/jquery-confirm.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/lodash/lodash.js"></script>
<script src="Table.js"></script>
</body>
</html>