@media (max-width: 992px) {
    .input-field {
        width: 100%;
    }

    .delete-all-button {
        font-size: 14px;
    }
}

.form-control.is-invalid {
    padding-right: 12px;
}

[v-cloak] {
    display: none;
}