.main-table {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-family: "Corbel", sans-serif;
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
}

.main-table thead {
    background-color: #36a0e8;
    color: white;
}

.main-table tbody > tr:nth-child(odd) {
    background: #e8edff
}

.main-table td, th {
    padding: 7px;
    border: 1px solid #cccccc;
}

