.mainTable {
    width: 45%;
    font-family: "Corbel", sans-serif;
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
}

.tableHead {
    background-color: #3498DB;
    color: white;
}

.tableBody > tr:nth-child(odd) {
    background: #e8edff
}

td, th {
    padding: 7px;
    border: 1px solid #cccccc;
}

