<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="todo-list" class="container">
    <form @submit.prevent="addNewTodo" class="container-fluid p-0 class='input-group-append">
        <div class="container-fluid list-group-flush mt-2 p-0 input-group">
            <input v-model="newTodoText" id="new-todo" placeholder="New job?" class="form-control text-dark"
                   aria-label="Default" maxlength="50">
            <button class="add-job btn btn-info ml-1 float-right">Добавить</button>
        </div>
    </form>
    <ul class="todo-list list-group list-group-flush">
        <li is="todo-item" v-for="(job, index) in todo" :key="job.id" :title="job.title"
            @remove="deleteJob(index)" class="list-group-item list-group-item-action input p-0"></li>
    </ul>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="Todo.js"></script>
</body>
</html>