<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="todo-list" class="container">
    <form @submit.prevent="addNewTodo" class="container-fluid p-0 class='input-group-append" >
            <label for="new-todo">Добавить задачу</label>
            <input v-model="newTodoText" id="new-todo" placeholder="" class="form-control text-dark"
                   aria-label="Default" maxlength="50">
            <button class="cancel btn btn-outline-danger btn-outline-secondary">Добавить</button>
    </form>
    <ul class="todo-list list-group list-group-flush">
        <li is="todo-item" v-for="(job, index) in todo" :key="job.id" :title="job.title"
            @remove="deleteJob(index)"></li>
    </ul>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="Todo.js"></script>
</body>
</html>