<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="todo-list">
    <form @submit.prevent="addNewTodo">
        <label for="new-todo">Добавить задачу</label>
        <input v-model="newTodoText" id="new-todo" placeholder="">
        <button>Добавить</button>
    </form>
    <ul>
        <li is="todo-item" v-for="(job, index) in todo" :key="job.id" :title="job.title"></li>
    </ul>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="Todo.js"></script>
</body>
</html>