.mainForm{
    background-color: #feeed6;
    padding: 15px;
}

.button{
    clear:both;
    text-align:right;
}

.confirmButton{
    background-color: #3498DB;
    color: white;
    height: 30px;
    width: 20%;
    font-weight: bold;
}
.form{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow:auto;
}
.mainName{
    padding-left: 15px;
    font-weight: normal;
 }
.formName{
    font-weight: bold;
}

.main{

    font-family: Arial, serif;
    color: rgb(103, 101, 101);
    font-weight: normal;
    font-size: 14px;
    width: 720px;

    margin-left: auto;
    margin-right: auto;
}

.yourComment{
    width:99%;
    height: 100px;
}
.input{
    height: 20px;
    width:99%;
}
