.main-container {
    font-family: Arial, sans-serif;
    color: rgb(103, 101, 101);
    font-weight: normal;
    font-size: 14px;
    max-width: 720px;
    width: 100%;
    padding: 14px;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    background-color: #feeed6;
    padding: 14px;
}

.label-container {
    margin-bottom: 15px;
}

.main-container h2 {
    padding-left: 12px;
    margin-bottom: 4px;
    font-size: 29px;
}

.label-container label {
    font-weight: bold;
}

.label-container textarea, .label-container input {
    width: 96%;
    border: none;
    padding: 6px 12px;
    margin-top: 5px;
    height: 22px;
}

.label-container textarea {
    font-family: Arial, sans-serif;
    height: 100px;
}

.button-container {
    clear: both;
    text-align: right;
}

.button-container button {
    padding: 1px 10px;
    background-color: #378db2;
    color: white;
    height: 32px;
    font-weight: bold;
    font-size: 14px;
    border: none;

    max-width: 150px;
    width: 100%;
}